*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.bg-img{
  background-image: url(../images/background\ image.jpg);
  background-repeat: repeat-x;
}
.bg-img-signup{
  background-image: url(../images/woman-pushing-shopping-cart-shelves-supermarket.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-color: cover;

}
.index-bg-img{
  background-image: url(../images/background\ image.jpg);
}

.topHeader {
    padding: 20px 0px;
}
.topHeader .socialMedia {
    float: right;
}
.topHeader a {
    text-decoration: none;
    margin-right: 10px;
}
.topHeader a:last-child {
    margin-right: 0;
}
.topHeader i {
	color: #1a1a1a;
}
.navMenu{
  background: #eff0f1;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
#myNavbar a {
	text-decoration: none;
	text-transform: capitalize;
	color: #1a1a1a;
	padding: 5px 30px;
  
}
.navMenu {
  padding: 5px 0;
  /* border: 1px solid #e0e0e0; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
 }
/* #myNavbar {
  float: right;
  padding-right: 0; */
/* }
.navMenu nav {
  background-color: #fff;
  border: none;
  margin-bottom: 0;
} */

#myNavbar li a{
  font-weight: 700;
  transition: 0.5s ease;
}
#myNavbar li a:hover{
  color: #189a91;
  cursor: pointer;
}

/* login page */

.bg-img{
  background-image: url(../images/woman-pushing-shopping-cart-shelves-supermarket.jpg);
  background-repeat: repeat-x;
  background-size: cover;
}
.input-group-text{
  background-color: #000;
}
button {
  color: #fff;
}

.home-page-bg{
  width: 100%;
}
.banner-1{
  background-image: url(../images/banner-4.jpeg);
}

.product{
  text-align: center;
}

.product .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.product .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0px;
  transition: 0.3s ease;
  position: relative;
}
.product .pro img{
  width: 100%;
  border-radius: 20px;
}

.product .pro:hover{
  box-shadow: 0px 3px 15px #a0a0a0;
}

.product .pro .des{
  padding: 10px 0px;
  text-align: start;
}

.product .pro .des span{
  color: #ababb3;
  font-size: 14px;
}
.product .pro .des h5{
  padding-top: 10px;
  font-size: 16px;
}

.product .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25)
}
.product .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
}
.product .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #cce7d0;
  color: #088177;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 25px;
  right: 25px; 
}